{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Explore - Instagram Clone</title>
{% endblock %} {% block content %}
<main class="explore-container">
  <div class="explore-grid">
    <div class="explore-item">
      <img src="{% static 'images/post1.jpg' %}" alt="Post" />
      <span class="hashtag">#travel</span>
    </div>
    <div class="explore-item">
      <img src="{% static 'images/post2.jpg' %}" alt="Post" />
      <span class="hashtag">#nature</span>
    </div>
    <div class="explore-item">
      <img src="{% static 'images/post3.jpg' %}" alt="Post" />
      <span class="hashtag">#food</span>
    </div>
  </div>
</main>
{% endblock %}
