
{% extends 'base.html' %}
{% load static %}
{% load static %} {% block title %}<title>Home - Instagram Clone</title>
{% endblock %} {% block content %}
<main class="main-feed">
  <div class="feed-container">
    <div class="post">
      <div class="post-header">
        <img
          src="{% static 'images/avatar1.jpg' %}"
          alt="User Avatar"
          class="post-avatar"
        />
        <div class="post-user">
          <span class="username">username1</span>
          <span class="location">New York</span>
        </div>
        <i class="fas fa-ellipsis-h post-options"></i>
      </div>
      <img
        src="{% static 'images/post1.jpg' %}"
        alt="Post Image"
        class="post-media"
      />
      <div class="post-actions">
        <i class="far fa-heart"></i>
        <i class="far fa-comment"></i>
        <i class="far fa-paper-plane"></i>
      </div>
      <div class="post-content">
        <span class="likes">1,234 likes</span>
        <p><strong>username1</strong> This is a caption. #summer #travel</p>
        <p class="music">🎵 Music: Song Name - Artist</p>
        <div class="comments">
          <p><strong>username2</strong> Great post! 😍</p>
          <p class="reply"><strong>username3</strong> Love this!</p>
        </div>
        <form class="comment-form">
          <input type="text" placeholder="Add a comment..." />
          <button type="submit">Post</button>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
