{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Notifications - Instagram Clone</title>
{% endblock %} {% block content %}
<main class="notifications-container">
  <div class="notification">
    <img
      src="{% static 'images/avatar2.jpg' %}"
      alt="User Avatar"
      class="notification-avatar"
    />
    <p><strong>username2</strong> liked your post.</p>
  </div>
  <div class="notification">
    <img
      src="{% static 'images/avatar3.jpg' %}"
      alt="User Avatar"
      class="notification-avatar"
    />
    <p><strong>username3</strong> commented: "Great pic!"</p>
  </div>
  <div class="notification">
    <img
      src="{% static 'images/avatar4.jpg' %}"
      alt="User virtuoso"
      class="notification-avatar"
    />
    <p><strong>username4</strong> started following you.</p>
  </div>
</main>

{% endblock %}
