{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Reels - Instagram Clone</title>
{% endblock %} {% block content %}
<main class="reels-container">
  <div class="reel">
    <video src="{% static 'videos/reel1.mp4' %}" autoplay muted loop></video>
    <div class="reel-info">
      <div class="reel-header">
        <img
          src="{% static 'images/avatar1.jpg' %}"
          alt="User Avatar"
          class="reel-avatar"
        />
        <span class="username">username1</span>
      </div>
      <p class="caption">This is a reel caption. #reels</p>
      <p class="music">🎵 Music: Song Name - Artist</p>
      <div class="reel-actions">
        <i class="far fa-heart"></i>
        <i class="far fa-comment"></i>
        <i class="far fa-paper-plane"></i>
      </div>
    </div>
  </div>
</main>
{% endblock %}
